adminer:
  base_dst: "/var/www/adminer"
  user: "www-data"
  connections:
    managed:
      diamantweg-buddhismus:
        config:
          - name: db for project x
            db_host: '127.0.0.1'
            db_name: 'dwb'
