adminer:
  base_dst: "/var/www/adminer"
  user: "www-data"
  connections:
    managed:
      database-one:
        config:
          - name: db for project x
            db_host: '127.0.0.1'
            db_name: 'my_database'
            db_user: 'bubedamekoenig'
            db_pass: 'fdygfdfdsfls3er23r45'