{%- for connection in adminer -%}
<?php


function adminer_object() {

		// required to run any plugin
	include_once "../adminer-plugins.php";

		// autoloader
	foreach (glob("plugins/*.php") as $filename) {
		include_once "./$filename";
	}

	$plugins = array(
			// specify enabled plugins here
//		new AdminerFrames,
	);

	class AdminerSoftware extends AdminerPlugin {

		/**
		 * Custom name in title and heading
		 *
		 * @return string
		 */
		function name() {
			return '{{ connection.db_name }} as user {{ connection.db_user }}';
		}

		/**
		 * Key used for permanent login
		 *
		 * @return string
		 */
		function permanentLogin() {
			return "74b941992ef29727ccabf82889fe837a";
		}


    function credentials() {
      // server, username and password for connecting to database
      return array('localhost', '{{ connection.db_user }}', '{{ connection.db_pass }}');
    }

    function database() {
      // database name, will be escaped by Adminer
      return '{{ connection.db_name }}';
    }




		/**
		 * disable login form
		 */
		function loginForm() {
		}




	}

	return new AdminerSoftware($plugins);
}

$session_name = 'adminer';
session_name($session_name);
session_start();

include "../adminer-4.2.1-mysql.php";
?>
{%- endfor -%}