{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}

{% set adminer = salt['pillar.get']('adminer', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'base_dst': '/var/www/adminer',
            'user': 'www-data',
        }, default='Debian' ),
    'connections': {
        'managed': {},
    },
}, merge=True) %}
