{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}

{% set adminer = salt['pillar.get']('adminer', {
    'base_dst': '/var/www/adminer',
    'user': 'www-data',
    'connections': {
        'managed': {},
    },
}, merge=True) %}
